// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  background-color: #dddddd;
  color:#393e46;
}
h1 {
  //background-color: #30499B;
  display: block;
  width:100%;
}
.bodyContents {
  margin-top: 160px;
}
.bodyContents_top {

  padding-top: 160px;
  background-color:#00adb5;
  height: 100%;
}
.top {
  background-color:#00adb5;
  color:#ffffff;
  width: 100%;
  margin:0 auto;
  text-align: center;
}
.twitter {
  font-size: 32px;
  background-color: #00adb5;
  text-decoration: none;
  color:#eeeeee;
}
.PostFrame {
  font-size: 32px;
  border:2px solid #dddddd;
  width:600px;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 12px;
  background-color: #eeeeee;
  box-shadow: -4px -5px 2px 0px #cccccc inset;
  position: relative;
  min-height: 200px;
}
.PostContent {
  font-size: 32px;
  background-color: #eeeeee;
  width: 60%;
  height: 80%;
}
.edit_post_message {
  font-size: 32px;
  height: 160px;
  border:2px solid #dddddd;
  width:720px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  border-radius: 12px;
  background-color: #eeeeee;
  box-shadow: -4px -5px 2px 0px #cccccc inset;
  text-align: center;
}

.searchField{
  background-color: #eeeeee;
  display: block;
  width: 480px;
  height: 30px;
  margin:0 auto;
  border-style: none;
  border-radius: 6px;
  background-color: #cccccc;
}

.inputField{
  background-color: #eeeeee;

}
.writingZone{
  background-color: #cccccc;
  border-radius: 6px;
  font-size: 15px;
  border-style: none;
}
.send_btn{
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 12px;
  margin-right: 320px;
  width:240px;
  height:60px;
  float:right;
  box-shadow: -4px -5px 2px 0px #cccccc inset;
  border-style: none;
  font-size: 32px;
}
.send_btn:active{
  background-color: #00bdc5;
}
.send_btn:hover{
  background-color: #009da5;
}
.favZone{
  background-color: #eeeeee;
  float: right;
  font-size: 16px;
  margin-right: 10px;
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30%;
  height: 60px;
  padding-bottom: 0px;
}
.editZone{
  background-color: #eeeeee;
  position: relative;
  height:30px;
  top: 100px;
  float: left;
  font-size: 16px;
  margin-left: 10px;
  text-align: left;
}
.dateZone{
  background-color: #eeeeee;
  float: right;
  font-size: 16px;
  margin-right: 10px;
  text-align: right;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30%;
  height: 100px;
  padding-bottom: 0;
}

.favBtn, .editBtn, .delBtn{

  background-color: #00bdc5;
  float: right;
  font-size: 16px;
  border-radius: 6px;
  border-style: none;
  color:#eeeeee;


}
